In [1]:
import pandas as pd
import numpy as np

In [2]:
data_url = 'https://bit.ly/HDSC-StageOneDataset'

In [3]:
data = pd.read_csv(data_url)

In [4]:
data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

# which of the fuel type code as the lowest cost per unit burned
Ans = None of the answer given

In [9]:
data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].min()

fuel_type_code_pudl
coal         0.00
gas          0.00
nuclear      0.00
oil          0.00
other     -119.04
waste     -276.08
Name: fuel_cost_per_unit_burned, dtype: float64

# What is the standard deviation and 75th of the energy perunit(Fuel_mmbtu_per_unit) in two decimal place

Ans = 10.60 and 17.01

In [11]:
data['fuel_mmbtu_per_unit'].std()

10.600220307806886

In [12]:
data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

# which feature has missing value and what is the missing value and percentage of the missing of the missing rows, total number of row in three decimal places

Feature:fuel_unit, Total:180, percentage:0.61

In [28]:
#calculating tota number of missing value in the dataset
np.count_nonzero(data.isna())

180

In [32]:
#identifying missing value column
data_na_column =  data[data.isna().values]
data_na_column

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
66,f1_fuel_1994_12_9_3_13,9,1994,mickleton,oil,NaN,3547.0,5.606160,41.930,41.770,7.480
152,f1_fuel_1994_12_8_1_14,8,1994,ar nuclear one,nuclear,NaN,43461380.0,3.412600,1.654,0.000,0.485
277,f1_fuel_1994_12_74_0_3,74,1994,perry k & w,other,NaN,2654942.0,0.100000,0.044,0.000,0.440
626,f1_fuel_1994_12_117_0_1,117,1994,nine mile unit 1,nuclear,NaN,401216.0,0.127467,78.446,0.000,0.615
627,f1_fuel_1994_12_117_0_4,117,1994,nine mile unit 2,nuclear,NaN,313736.0,0.119756,57.534,0.000,0.480
...,...,...,...,...,...,...,...,...,...,...,...
28413,f1_fuel_2017_12_227_0_13,227,2017,vestaburg,gas,NaN,24196.0,1.000000,20.131,4.494,4.494
28828,f1_fuel_2018_12_148_0_12,148,2018,northeastern 3,oil,NaN,11.0,4.966164,64.080,64.080,12.860
28830,f1_fuel_2018_12_148_0_14,148,2018,comanche,oil,NaN,96.0,5.751942,34.130,34.130,5.930
29052,f1_fuel_2018_12_162_0_1,162,2018,ernest c. gaston,coal,NaN,1610370.0,21.660000,70.461,65.240,3.254
29053,f1_fuel_2018_12_162_0_4,162,2018,ernest c. gaston,oil,NaN,688.0,5.894364,84.360,84.311,14.304

In [47]:
#Calculating the percentage of the missing value
(data.isna().sum()*100 / len(data)).round(3)

record_id                       0.00
utility_id_ferc1                0.00
report_year                     0.00
plant_name_ferc1                0.00
fuel_type_code_pudl             0.00
fuel_unit                       0.61
fuel_qty_burned                 0.00
fuel_mmbtu_per_unit             0.00
fuel_cost_per_unit_burned       0.00
fuel_cost_per_unit_delivered    0.00
fuel_cost_per_mmbtu             0.00
dtype: float64

# The feture with missing falls under what category, what missing value technique would you use

ANS: None of the given option. reason been that the data on the columns are representated with sting value

In [49]:
data['fuel_unit']

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

In [50]:
data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

# for the fuel type coal, ehat is the percentage change per unit burned in 1998 compared to 1994

In [78]:
#isolating the two by year and fuel typ 'coal' and assigning each to a variable name
a=data.loc[(data['fuel_type_code_pudl']=='coal') & (data['report_year']==1998)]['fuel_cost_per_unit_burned'].sum()
b=data.loc[(data['fuel_type_code_pudl']=='coal') & (data['report_year']==1994)]['fuel_cost_per_unit_burned'].sum()

In [81]:
percentage_change=(a-b)*100/b
percentage_change

-20.56765451826053

# Which year has the highest average cost per units delivered
ANS: 1997

In [105]:
data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().idxmax()

1997

# Creating identity matrix

In [107]:
np.identity(4)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [118]:
A=[1,2,3,4,5,6]
B=[13,21,34]

In [125]:
#Ans to Question 1
A.extend(B)